.page {
    max-width: 856px;
    margin: 0 auto;  
}

.featured__works_text{
    margin: 15px 0 22px 0;
    font-size: 22px;
    color: #21243D;
}
.work__item {
    display: flex;
}
.work__item_notes{
    flex-direction: column;
    margin-left: 18px;
}
.work__item_notes h3{
    color: #21243D;
    font-size: 30px;
} 
.work__item_text {
    max-width: 594px;
}

.year__work {
    background: #142850;
    color: white;
    border-radius: 85%;
    font-weight: 900;
    font-size: 18px;
    padding: 1px 11px;
    margin-right: 24px;
}
.date__work {
    color:#8695A4 ;
    font-size: 20px;
    margin-top: 16px;
}

.work__item_text{
    font-size: 16px;
    color: #21243D;
    margin-top: 17px;
}

hr{
    opacity: 0.2;
    margin: 15px 0 30px 0;
}