@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');
* {
    font-family: 'Heebo', sans-serif;
    /* min-width: 320px; */
    /* max-width: 1152px; */
    /* max-width: 1032px; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}